.clusterize {
  height: 100%;
  overflow:hidden;
}

.clusterize-scroll {
  max-height: calc(100% - 100px);
  overflow: auto;
  width: 100%;
  border: solid 1px #DDDDDD;
}

.th {
  /*max-height: 500px;*/
  padding: 15px;
  margin-top: 20px;
  line-height: 0;
  display: inline-block;
  border: solid 4px #FFFFFF;
  /*max-width: 100%;*/
  width: 100%;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
  transition: all 200ms ease-out;
}

.th:hover,
.th:focus {
  box-shadow: 0 0 6px 1px rgb(0 140 186 / 50%);
}

.clusterize table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0;
  border: none;
  min-width: 100%;
  table-layout: fixed
}

.clusterize table.fixed-header {
  background-color: #428bca;
}

.clusterize table td {
  white-space: nowrap;
}

.clusterize-headers {
  overflow: hidden;
}

.clusterize-headers table.fixed-header tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
}

.clusterize-headers table.fixed-header tr:first-child td {
  padding: 1em !important;
}

.search-table {
  margin-bottom: 20px;
}

table.clusterize-table {
  margin: auto;
  /*min-width: 300px;*/
  /*max-width: 100%;*/
  border-collapse: collapse;
}

table.clusterize-table tr:first-child {
  border-top: none;
  /*background: #428bca;
  color: #fff;
  position: sticky;
  top: 0;*/
}

/*table.clusterize-table tr:not(.clusterize-extra-row):first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
  position: sticky;
  top: 0;
}*/

table.clusterize-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

/*table.clusterize-table tr:nth-child(odd):not(:first-child)*/
table.clusterize-table tr:nth-child(odd) {
  background-color: #ebf3f9;
}

table.clusterize-table td:first-child {
  margin-top: .5em;
}

table.clusterize-table td:last-child {
  margin-bottom: .5em;
}

table.clusterize-table th,
table.clusterize-table td {
  text-align: left;
}

table.clusterize-table {
  color: #333;
  border-radius: .4em;
  /*overflow: hidden;*/
}

table.clusterize-table tr {
  border-color: #bfbfbf;
}

table.clusterize-table th,
table.clusterize-table td {
  padding: 1em !important;
}

.highlight {
  background-color: #ff9632;
}

.anchorRow>td {
  text-align: center !important;
}

table.codes tr>td:first-child {
  min-width: 100px;
  vertical-align: middle;
}

table.codes tr:is([data-level='1'])>td:first-child::before {
  content: "";
  font-size: 15px;
  color: #428bca;
  font-weight: 700;
  padding-left: 0px;
  display: inline-block;
  width: 20px;
}

table.codes tr:is([data-level='1'])>td.opened::before {
  cursor: pointer;
  content: "\2212";
}

table.codes tr:is([data-level='1'])>td.closed::before {
  cursor: pointer;
  content: "\2b";
}

table.codes tr:is([data-level='2'])>td:first-child::before {
  content: "";
  font-size: 15px;
  color: #428bca;
  font-weight: 700;
  padding-left: 20px;
  display: inline-block;
  width: 20px;
}

table.codes tr:is([data-level='2'])>td.opened::before {
  content: "\2212";
  cursor: pointer;
}


table.codes tr:is([data-level='2'])>td.closed::before {
  content: "\2b";
  cursor: pointer;
}

table.codes tr:is([data-level='3'])>td:first-child::before {
  content: "";
  font-size: 15px;
  color: #428bca;
  font-weight: 700;
  padding-left: 30px;
  display: inline-block;
  width: 30px;
}

/*.panel.th {
	resize: both;
	overflow: hidden;
  height:500px;
}*/

/*#terminologit-search-content-valueset-cld ul>li>code {
  min-width: 300px;
  display: inline-block;
}*/

ul>li>div.panel.th {
  margin-left: -12.5px;
  position: relative;
  resize: both;
  overflow: hidden;
  height: 500px;
  width: calc(100% + 25px);
  min-width: 770px;
  min-height: 180px;
  left: 50%;
  transform: translate(-50%, 0);
}

.panel.th {
  position: relative;
  resize: both;
  overflow: hidden;
  height: 500px;
  width: 100%;
  min-width: 770px;
  min-height: 180px;
  left: 50%;
  transform: translate(-50%, 0);
}

#terminologit-search-content-valueset-cld.accordion-group {
  border: none;
}

#terminologit-search-content-valueset-cld .accordion-heading .accordion-toggle {
  display: -webkit-inline-box;
  padding: 0px;
  margin-left: 5px;
  position: absolute;
  color: var(--btn-text-color);
}

.accordion-toggle .gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
  transition: all 0.5s;
}
.gg-chevron-down::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px
}

.rotate-toggle.gg-chevron-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}